.body-home {
  background: transparent;
  display: flex;
  align-items: center;
  margin: 0;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 20px;
}

.vscode-window {
  width: 800px;
  backdrop-filter: blur(5px);
  background-color: var(--surface-card-50);
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tabs {
  background: #2d2d2d;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
}

.tab {
  background: #1e1e1e;
  padding: 6px 12px;
  border-radius: 5px 5px 0 0;
  color: #d4d4d4;
  font-size: 13px;
}

.tab.active {
  background: #1e1e1e;
  border-bottom: 2px solid #007acc;
  color: #fff;
}

.editor {
  flex: 1;
  display: flex;
  padding: 15px;
  overflow: auto;
}

.line-numbers {
  color: #858585;
  padding-right: 10px;
  text-align: right;
  user-select: none;
}

.code {
  white-space: pre;
  color: #d4d4d4;
}

.char {
  color: var(--primary-color);
}

.key {
  color: #5ec7ff;
}

.string {
  color: #dd8562;
}

.number {
  color: #99da76;
}

.boolean {
  color: #3490db;
}

.null {
  color: #808080;
}
