.layout-wrapper {
  min-height: 100dvh;
  background: transparent;
  padding: 5px;
}

.cursor {
  cursor: url("../../assets/cursor/ufo-svgrepo-pointer.png") 10 10, auto;
}

.cursor:active {
  cursor: url("../../assets/cursor/ufo-svgrepo-press.png") 10 10, auto;
}

.layout-topbar-content {
  width: 100dvw;
  height: 10rem;
}

.layout-sidebar {
  position: fixed;
  width: 200px;
  height: calc(100vh - 15rem);
  z-index: 999;
  overflow-y: auto;
  user-select: none;
  top: 10rem;
  left: -16rem;
  transition: transform 1s, left 1s;
  background-color: var(--surface-overlay);
  border-radius: 12px;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0 5px var(--primary-color), 0 0 25px var(--primary-color);
}

.layout-sidebar-active {
  position: fixed;
  width: 200px;
  height: calc(100vh - 15rem);
  z-index: 999;
  overflow-y: auto;
  user-select: none;
  top: 10rem;
  left: 1rem;
  transition: transform 1s, left 1s;
  background-color: var(--surface-overlay);
  border-radius: 12px;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0 5px var(--primary-color), 0 0 25px var(--primary-color);
}

.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 180vh;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 2rem;
  transition: margin-left 2s;
  background: transparent;
}

.layout-main {
  flex: 1 1 auto;
  background: transparent;
}
