.layout-topbar {
  position: fixed;
  height: 6rem;
  width: 94vw;
  padding: 1rem;
  margin: 0 1rem;
  backdrop-filter: blur(5px);
  background-color: var(--surface-card-50);
  display: flex;
  border-radius: 1rem;
  box-shadow: 0 0 1px var(--primary-color), 0 0 5px var(--primary-color);
}

.layout-topbar-languages {
  flex: 1;
  display: flex;
  align-items: center;
}

.layout-topbar-perfil {
  width: 7rem;
  height: 7rem;
  background: radial-gradient(var(--primary-color), transparent 100%);
  border-radius: 50%;
  border: solid 1px #ffffff;
}

.layout-topbar-perfil:hover {
  border: solid 1px var(--primary-color);
  transition: border 0.5s;
  box-shadow: 0 0 5px var(--primary-color), 0 0 25px var(--primary-color);
}

.layout-topbar-figure {
  margin: 0;
  height: 7rem;
}

.layout-topbar-figure a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.layout-topbar-titulo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.layout-topbar-titulo h1 {
  font-size: 2.6rem;
  color: var(--primary-color);
  margin: 0;
}

.layout-topbar-titulo p {
  font-size: 1.2rem;
  color: var(--text-color-secondary);
  margin: 0;
}

.layout-topbar-figcaption {
  font-size: 1rem;
  position: relative;
  color: var(--text-color-secondary-solid);
  top: -1.3rem;
  background: radial-gradient(
    var(--surface-e) 45%,
    transparent 80%,
    transparent 100%
  );
  padding: 0 10px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #007bff,
    0 0 40px var(--primary-color), 0 0 70px var(--primary-color),
    0 0 80px var(--primary-color), 0 0 100px var(--primary-color);
}

.layout-topbar-menu {
  flex: 1;
  display: flex;
  align-items: center;
}

.layout-topbar-button {
  background: none;
  border: none;
  width: 3rem;
  height: 2rem;
  filter: drop-shadow(0 0 5px var(--primary-color))
    drop-shadow(0 0 80px var(--primary-color));
}

.layout-topbar-logo {
  flex: 4;
  display: flex;
  align-items: center;
}

.pi-bars {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid var(--primary-color);
  transform: scale(var(--primary-color, 1));
  border-radius: 22px;
}

.pi-bars::after,
.pi-bars::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 4px;
}

.pi-bars::after {
  width: 6px;
  height: 6px;
  border-bottom: 2px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  transform: rotate(45deg);
  bottom: 6px;
}

.pi-bars::before {
  width: 10px;
  height: 2px;
  bottom: 8px;
  background: var(--primary-color);
}

.icon-menu {
  width: 30px;
  height: 3px;
  background: white;
  position: relative;
  border-radius: 5px;
  transition: 0.3s;
}

.icon-menu::before,
.icon-menu::after {
  content: "";
  position: absolute;
  left: -15px;
  width: 30px;
  height: 3px;
  background: white;
  border-radius: 5px;
  transition: 0.3s;
}

.icon-menu::before {
  top: -8px;
}

.icon-menu::after {
  top: 8px;
}

.icon-menu,
.active {
  background: transparent;
}

.icon-menu,
.active::before {
  transform: rotate(45deg) translate(5px, 5px);
}

.icon-menu,
.active::after {
  transform: rotate(-45deg) translate(5px, -5px);
}

.img-logo-languages {
  height: 3rem;
  width: 3rem;
}

.carrusel-container {
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
}

.carrusel-container h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.carrusel {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  overflow: hidden;
  border-radius: 12px;
  /* background: var(--primary-color); */
  background: transparent;
  /* box-shadow: 0 0 5px var(--primary-color), 0 0 25px var(--primary-color); */
}

.carrusel-inner {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  animation: slide 15s infinite ease-in-out;
  background: transparent;
}

.carrusel-inner img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  background: transparent;
  border-radius: 2px;
  filter: drop-shadow(0 0 3px var(--primary-color))
    drop-shadow(0 0 6px var(--primary-color));
}

@keyframes slide {
  0% {transform: translate(0, 4);}
  2% {transform: translate(0, 0);}
  12% {transform: translate(0, 0);}
  15% {transform: translate(-5rem, 0);}
  27% {transform: translate(-5rem, 0);}
  30% {transform: translate(-5rem, -5rem);}
  42% {transform: translate(-5rem, -5rem);}
  45% {transform: translate(0rem, -5rem);}
  57% {transform: translate(0rem, -5rem);}
  60% {transform: translate(0rem, -10rem);}
  72% {transform: translate(0rem, -10rem);}
  75% {transform: translate(-5rem, -10rem);}
  87% {transform: translate(-5rem, -10rem);}
  90% {transform: translate(-5rem, -15rem);}
  98% {transform: translate(-5rem, -15rem);}
  100% {transform: translate(-5rem, -19rem);}
}
